@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: #fcfbfb;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

body {
    background-color: #fcfbfb; 
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(20,30,13, .7);
}

nav a:hover {
    background-color: black;
}

.book, .join,
.book:hover, .join:hover,
#background,
.msg,
footer {
    background-color: #ffffff; 
}

nav a,
nav a:hover,
.home-title,
h4,
.book, .join,
.book:hover, .join:hover,
.msg h2,
.msg p,
footer p,
footer a,
footer a:hover {
    color: #000000;
}

.logo,
.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a,
.book, .join,
footer a {
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.5em;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.icon {
    padding-top: 10px;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #6f7364;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.main section img {
    box-sizing: border-box;
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 50px auto;
    width: 60%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
